service cloud.firestore {
 match /databases/{database}/documents {
    function isOwnDocument() {
      return resource.data.userid == request.auth.uid;
    }

    function isAdmin() {
      return request.auth.admin == true;
    }

    match /cra/{craId} {
        allow read, write: if isOwnDocument();
        allow read: if isAdmin();
    }
    match /ik/{ikId} {
        allow read, write: if isOwnDocument();
        allow read: if isAdmin();
    }
    match /ndf/{ndfId} {
        allow read, write: if isOwnDocument();
        allow read: if isAdmin();
    }
    match /charges/{chargeId} {
        allow read, write: if isOwnDocument();
        allow read: if isAdmin();
    }

    match /users/{userId} {
        allow read, write: if request.auth.uid == userId
    }
  }
}